---
layout: home
---
<div class="user-details">
<h2> BIO </h2>
<p style="text-align: justify;"> I am chasing my M.Eng. in the School of Computer science and Engneering, Central South University, China. In 2018, I received my B.Eng. in Computer Science from Jiangxi University of Finance and Economics, China. My research interests include Medical Image Analysis, Deep Learning, Transfer Learning, Multiobjective Optimization Problem, and Edge Computing. I have served as a referee for multiple SCI journals. </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Publications</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Contact Me</h2>
<ul>
	<li>CSU Artificial Intelligence and Internet of Things Lab</li>
	<li>No. 22 of Shaoshan South Road, Tianxin District</li>
	<li>Changsha, Hunan, China</li>
	<li>xingcun.li(at)foxmail.com / lixingcun(at)csu.edu.cn</li>
</ul>

</div >
