---
layout: home
---
<div class="user-details">
<h2>BIO</h2>
<p style="text-align: justify;">  I am pursuing my Ph.D at Huazhong University of Science and Technology, since 2021. My Ph.D. research direction is about optimization and heuristic algorithms. I received my B.Eng. and M.Eng. in Computer Science and Software Engineering from Jiangxi University of Finance and Economics and Central South University, China, respectively. My research interests include Medical Image Analysis, Deep Learning, Heuristic Algorithms, Multiobjective Optimization Problem, and Edge Computing. I have served as the referee for multiple SCI journals, including IET Computer vision. </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Publications</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Contact Me</h2>
<ul>
	<li>Luoyu Road 1037, Hongshan District</li>
	<li>Wuhan, Hubei, China</li>
	<li>lixingcun (at) hust.edu.cn</li>
</ul>

</div >
